#site{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: 50px minmax(100px, 1fr) minmax(100px, 1fr);
    min-height:100vh;

    margin: 0px;
    border: solid;
}

#page{
    margin: 0px;
    padding: 0px;
    
}
.element{

    grid-area: span 1 / span 1;
    min-height: auto;
    max-width:100%;

    display:flex;
    flex-direction: column;
    align-items: center;

}
.elementanimate{

    grid-area: span 1 / span 1;
    min-height: auto;
    max-width:100%;

    display:flex;
    flex-direction: column;
    align-items: center;


}
#header{
    background-color: aqua  ;
    grid-area: span 1 / span 3;
 

}

