*{
    scroll-behavior: smooth !important;

}

html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
}

#site{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: 30px minmax(100px, 1fr) minmax(100px, 0.65fr) minmax(100px, 0.8fr) minmax(100px, 0.8fr) minmax(100px, 0.8fr) 50px;
    min-height:100vh;

    margin: 0px;

    background-image: linear-gradient(black, #1d254a);
    color: white;
    
}

#page{
    margin: 0px;
    padding: 0px;
    
}
#projects{
    grid-area: span 1 / span 3;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    border: solid;
}

.element{

    grid-area: span 1 / span 1;
    min-height: auto;
    max-width:100%;
    max-height: 100%;

    display:flex;
    flex-direction: column;
    align-items: center;

}

#header{
    /* background-color: black  ; */
    grid-area: span 1 / span 3;

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}



.link{
    margin: 1%;
    /* color: white; */
    position: relative;
    display: inline-block;

    text-align: center;
}
.link:hover{
  color: rgba(255,255,255,0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}







#intro{
    /* background-color: #19A7CE  ; */
    grid-area: span 1 / span 3;
    min-height: 90vh;

}
.nameHeader{
  text-align: center;
}

svg{
  animation: moveUpDown 1s ease-in-out infinite alternate;
  height: 50%;
  width: 50%;
}

@keyframes moveUpDown {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-6px);
  }
  
}

path{
  fill:white;
  stroke:black;
  stroke-width: 2;
  stroke-linejoin: round;
}
.cloudText{
  font-size: 0.25rem;
}



#description{
    /* background-color: #146C94; */
    grid-area: span 1 / span 3;
}

#skills{
    /* background-color: #F6F1f1; */

    grid-area: span 1 / span 3;
}

#contactme{
    /* background-color: #19A7CE; */
    grid-area: span 1 / span 3;
}

#footer{
    /* background-color: black; */
    grid-area: span 1 / span 3;
}


